.scrollBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fbd784;
  color: #0b1d26;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.4s ease-in-out;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scrollBtn:hover {
  transform: translateY(-5px);
}
