.hero {
  position: relative;
  width: 100%;
  height: 1500px;
  overflow: hidden;

  background: url("../../assets/BG-Hero.png"), url("../../assets/HG.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 280px;
}

.contentLayer {
  width: 100%;

  max-width: 850px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
}

.layerMG {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 20;
  object-fit: cover;
  top: 350px;
}

.layerVG {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 30;
  object-fit: cover;
  top: 550px;
}

.layerShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 40;
  opacity: 1;
}

.socialLinks {
  position: absolute;
  left: 80px;
  top: 280px;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.followText {
  font-weight: 700;
  font-size: 18px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heroContent {
  width: 100%;
  text-align: left;
}

.subtitle {
  color: #fbd784;
  font-weight: 800;
  letter-spacing: 6px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.subtitle::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
  margin-right: 32px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  line-height: 1.1;
  margin: 0 0 32px 0;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.scrollDown {
  color: white;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.heroSlider {
  position: absolute;
  right: 80px;
  top: 280px;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  font-weight: 700;
  font-size: 18px;
  padding-right: 40px;
}
.heroSlider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.sliderItem {
  cursor: pointer;
  text-align: right;
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.sliderItem:first-child {
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}
.sliderItem:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 3px;
  height: 40px;
  background-color: #ffffff;
  z-index: 2;
}

@media (max-width: 1440px) {
  .hero {
    height: 1300px;
    padding-top: 220px;
  }
  .socialLinks {
    left: 40px;
    top: 220px;
  }
  .heroSlider {
    right: 40px;
    top: 220px;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 1100px;
    padding: 0 40px;
    padding-top: 180px;
  }
  .title {
    font-size: 56px;
  }
  .heroContent {
    padding-left: 0;
    max-width: 500px;
  }
  .layerMG {
    top: 200px;
  }
  .layerVG {
    top: 350px;
  }
}
