* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;

  background-color: #0b1d26;
  color: #ffffff;

  scroll-behavior: smooth;
}
